<!doctype html>
<html>
    <head>
        <script src='/socket.io/socket.io.js'></script>
        <script>
            var socket = io();

            socket.on('nova-movimentacao', function(data){
              console.log(data);
              adicionarMensagem(data.infoAcesso.abaTrack);
            });

            socket.on('confirma-conexao', function(data){
              adicionarMensagem(data);
            });

            socket.on('error', console.error.bind(console));
            socket.on('message', console.log.bind(console));

            function adicionarMensagem(message) {
                var texto = document.createTextNode(message),
                    el = document.createElement("li"),
                    mensagens = document.getElementById("mensagens");
                el.appendChild(texto);
                mensagens.appendChild(el);
            }
        </script>
    </head>
    <body>
      <h1> Módulo Real Time </h1>
        <ul id="mensagens"></ul>
    </body>
</html>
